body{
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif;
}
.header{
    width: 1920px;
height: 850px;
background: rgba(229, 84, 115, 0.10);
}
.header1{
    display: flex;
}
.header2{
    padding-top: 100px;
    margin-left: 230px;
    margin-right: 50px;
   
}
.header3{
    color: #272727;
font-size: 80px;
font-weight: 800;
width: 708px;
}
.header4{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
margin-top: 30px;
margin-bottom: 30px;
margin-right: 190px;
}
.header5{

    border-radius: 8px;
background: #E55473;
height: 70px;
width: 175px;
color: #FFF;
font-size: 20px;
font-weight: 700;
}
.header7{
   
    margin-top: 50px;
    width: 635px;
height: 800px;
margin-right: 100px;
}
.banner{
    width: 1440px;
    height: 750px;
    margin: 0px auto;
    text-align: center;
    margin-top: 150px;
}
.banner1{

    color: #272727;
    font-size: 40px;
    font-weight: 800;


}
.banner2{

    color: rgba(39, 39, 39, 0.60);;
font-size: 18px;
font-weight: 400;
margin-left: 350px ;
margin-right:350px ;
}
.banner4{
    width: 464px;
height: 538px;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.banner5{
height: 428px;
padding-top: 110px;
}
.banner6{
    color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
text-decoration-line: underline;
}
.banner3{
    display: flex;
    gap: 60px;
    margin-top: 60px;
}
.banner7{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);

}
.banner8{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);


}











.section1{
    width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 125px;
}

.section2{
    display: flex;
    padding-right: 400px;
   
   
}
.section3{
    margin-top: 180px;
    margin-left: 250px;
   
}
.section4{
    color: #272727;
font-size: 40px;
font-weight: 800;
padding-left: 70px;

   
}
.section5{

    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
padding-right: 250px;
text-align: center;
   
}
.section6{
        border-radius: 15px;
    background: #E55473;
    height: 70px;
    width: 175px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 230px;
    margin-top: 35px;
    }

.section7{
    margin-top: 100px;
   
}
.section8{
    width: 318px;
height: 420px;
   
}
.robin{
    width: 1440px;
    margin: 0px auto;
    margin-top: 130px;
}
.robin1{
    text-align: center;
    color: #272727;
font-size: 40px;
font-weight: 800;

}
.robin2{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
border: #FFF solid;
padding-left: 250px;
padding-right:250px ;
}
.robin3{
    display: flex;
    margin-top: 70px;
   
}
.robin5, .robin6 , .robin7{
    margin-left: 20px;
}
.joy{
    width: 1440px;
    height: 450px;
    margin: 0px auto;
    margin-top: 130px;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    

}
.joy1{
    padding-top: 100px;
    
}
.joy2{
    text-align: center;
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.joy3{
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
}
.joy4{
    margin-top: 50px;
    margin-left: 320px;
    
    
}
.joy5{
    width: 700px;
height: 64px;
border-radius: 12px;
background: #FFF;
color: rgba(39, 39, 39, 0.60);
padding-left: 30px;
font-size: 16px;
font-style: normal;
font-weight: 400;

}
.joy6{
    border-radius: 14px;
    background: #E55473;
    height: 70px;
    width: 175px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;


}
footer{
    width: 1922px;
height: 449px;
background: #111010;
margin-top: 130px;
text-align: center;
}
.footer-head{

    color: #FFF;
font-size: 48px;
font-style: normal;
font-weight: 800;
padding-top: 150px;
 
}
span{
    color: #E55473;
font-size: 48px;
font-weight: 800;
}
.footer-dis{
    color: rgba(255, 255, 255, 0.90);
font-size: 18px;
font-weight: 400;
margin-top: 20px;
padding-left:600px ;
padding-right:600px ;

}
.footer-p{
    color: rgba(255, 255, 255, 0.40);
font-size: 16px;
font-weight: 400;


}
